<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>

  <link rel="stylesheet" href="~/lib/vis/vis-network.min.css">
  <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/style.css">

  <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
  <script src="~/lib/vis/vis-network.min.js"></script>
  <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar  navbar-expand-lg navbar-dark bg-dark" style="position: absolute; width: 100%; z-index:2">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/favicon.png" alt="" width="24" height="24" class="d-inline-block align-text-top">
        Radiosender
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Graph">Graph</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid" style="position: relative; min-height: auto; overflow: hidden; grid-row-start: 2">
    @RenderBody()
  </div>

  <script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/deviceHub").build();

    connection.start();

    connection.on("disconnected", function () {
      console.log("disconnected");
      setTimeout(function () {
        connection.start();
      }, 5000); // Restart connection after 5 seconds.
    });

  </script>
  @RenderSection("Scripts", required: false)

</body>

</html>