@page

@using RadioSender.Hubs;

@{
  ViewData["Title"] = "Log";
  Layout = "_Layout";
}

<div class="row h-100">
  <ul class="flex-fill h-100 p-2 overflow-auto font-monospace text-light bg-dark bg-gradient list-group rounded-0" id="messagesList">
  </ul>
</div>

@section Scripts
{
  <script>

    var messagesList = document.getElementById("messagesList");

    connection.on("log", function (timestamp, level, message, exception) {

      var li = document.createElement("li");
      li.classList.add("p-0");
      li.classList.add("ps-1");
      li.classList.add("d-flex");
      li.classList.add("align-items-center");
      li.classList.add("list-group-item");

      switch (level) {
        case 0: li.classList.add("list-group-item-light"); break; // Verbose
        case 1: li.classList.add("list-group-item-light"); break; // Debug
        case 2: break; // Information
        case 3: li.classList.add("list-group-item-warning"); break; // Warning
        case 4: li.classList.add("list-group-item-danger"); break; // Error
        case 5: li.classList.add("list-group-item-danger"); break; // Fatal
      }

      li.innerHTML = "<span class='badge bg-primary me-2'>" + timestamp + "</span> " + message;
      if (exception)
        li.innerHTML += "<br>" + exception
      messagesList.prepend(li);

    });

    function reset() {
      if (connection.state != signalR.HubConnectionState.Connected)
      return;

      messagesList.innerHTML = "";
      connection.invoke("JoinGroup", "@DeviceHub.GROUP_LOG");
    }

    start().then(() => reset());
    connection.onreconnected(() => reset());
  </script>
}

