@page

@{
  ViewData["Title"] = "Log";
  Layout = "_Layout";
}

<style>
  #messagesList {
    height: 100%;
    color: white;
    background: black;
    overflow: auto;
    font-family: monospace;
    list-style-type: none;
  }

  .logcontainer {
    height: 100%;
  }
</style>

<div class="row mb-3 logcontainer">
  <ul class="flex-fill" id="messagesList">
  </ul>
</div>

@section Scripts
{
  <script>

    var messagesList = document.getElementById("messagesList");

    connection.on("log", function (m) {

      var li = document.createElement("li");
      li.innerHTML = m;
      messagesList.prepend(li);

    });
  </script>
}

